/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include container;
  @include clearfix;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  animation: intro 0.3s both;
  animation-delay: 0.35s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }
}

.page {
  @include breakpoint($large) {
    @include span(9.5 of 12 last);
    @include prefix(0.5 of 12);
    @include suffix(0 of 12);
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}
.page2 {
  @include breakpoint($large) {
    @include span(12 of 12);
    @include prefix(0 of 12);
    @include suffix(0 of 12);
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

.page__content {
  #about-me {
    margin-top: -10em;

    &:before {
      content: "";
      display: block;
      position: relative;
      width: 0;
      height: 10em;
      margin-top: -10em;
    }
  }

  h1 {
    margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
    color: #61658e;
  }

  p,
  li,
  dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent ==true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  animation: intro 0.3s both;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: intro 0.3s both;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 $border-radius 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  color: mix(#fff, $gray, 25%);
  font-family: $sans-serif;
  font-size: $type-size-6;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

.page__meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.page__taxonomy-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid $light-gray;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}

/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}

/*
   Related
   ========================================================================== */

.page__related {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  @include clearfix();
  float: left;

  @include breakpoint($large) {
    @include pre(2.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.page__related-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/common.scss ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

/*!*******************************************************************************************************************!*\
    !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/common.scss (1) ***!
    \*******************************************************************************************************************/
.cv-title {
  font-size: 3rem;
  font-weight: 400;
}

.cv {
  display: grid;
  font-family: "Amiri", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: black;
  padding: 30px 0px;
}

.cv section {
  padding: 0.5rem 0rem;
}

.cv > * {
  color: black;
}

.cv strong {
  color: black;
  font-weight: bold;
}

.cv p {
  margin: 20px 0px;
}

.downloadpdf {
  display: block;
  width: 100px;
  background: #d4d4d430;
  padding: 5px 10px;
  border-radius: 5px;
  color: #d2d2d2aa;
}

.downloadpdf > i {
  margin-right: 8px;
}

.cv-address {
  margin-top: 20px;
}

.address {
  grid-column: 1/4;
}

.contact {
  grid-column: 4/9;
  justify-self: right;
}

.right {
  grid-column: 3/9;
}

.full {
  grid-column: 1/9;
}

.left {
  grid-column: 1/3;
  text-align: right;
  justify-self: right;
}

.cvitem-timerange {
  font-style: italic;
}

.cvitem-location {
  font-style: italic;
}

.cv .container {
  grid-column-gap: 2rem;
  grid-row-gap: 0.8rem;
  grid-auto-rows: minmax(0rem, auto);
}

.cv h3 {
  font-weight: normal;
  padding: 5px 0px;
  border-bottom: 1px solid black;
  margin: 0px auto;
}

.cv .cvitem-venue {
  font-style: italic;
}

.cvitem-number {
  font-style: italic;
}

.cvitem-talktitle {
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 40px;
  grid-auto-rows: minmax(3rem, auto);
  grid-row-gap: 0.5rem;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 2rem 0rem 1rem 0rem;
  background: #ffffff;
}

.header_photo {
  grid-column: 1 / 4;
  text-align: center;
  justify-self: right;
}

#avatar {
  width: 100%;
}

#avadiv {
  max-width: 120px;
  margin: 0 auto;
}

.announcement {
  padding: 10px 15px;
  border-radius: 15px;
  background: #d2d2d240;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px 30px;
  font-size: 1.1em;
  color: #323232bd;
}

.name {
  font-size: 20px;
  font-weight: 800;
  color: #323232bd;
  padding: 10px 0px;
  display: inline;
}

.cname {
  font-size: 18px;
  padding: 5px 0px;
  margin-left: 20px;
}

.icons a {
  color: #7c7c7c;
  margin: 5px;
}

.header_photo p {
  margin: 5px;
}

.feature {
  border-top: 1px solid #dedede;
  grid-column: 3/9;
}

.feature > .title {
  grid-column: 1/9;
}

.projects {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column: 1/9;
  grid-column-gap: 2rem;
}

.project {
  background: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  line-height: 22px;
  color: #3a04047d;
}

.project > img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-title {
  font-weight: bold;
  color: #7c7c7c;
}

.pubs {
  grid-column: 1/9;
}

.left-panel {
  font-size: 12px;
  line-height: 20px;
}

.attending {
  margin-bottom: 20px;
}

.left-panel {
  grid-column: 1/3;
}

.right-panel {
  grid-column: 3 / 9;
}

.masthead__menu-item a {
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  font-size: 24pt;
  // color: black;
}

.masthead__menu-item2 a {
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  font-size: 24pt;
  // color: black;
}

.paper-title {
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 24pt;
  text-align: center;
}

.paper-2column {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
}
.publication-authors {
  font-family: "Google Sans", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 12pt;
}
.author-block {
  display: inline-block;
  margin-right: 4pt;
}

.paper-abstract {
  font-family: "Google Sans", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 16pt;
  text-align: left;
}

.paper-text {
  font-family: "Google Sans", sans-serif;
  margin-left: 4pt;
  margin-right: auto;
}

.nav > li {
  text-decoration: none;
  margin-right: 15px;
  background: #d2d2d240;
  border-radius: 5px;
  padding: 0px 10px;
}

.nav {
  list-style-type: none;
  display: flex;
  padding: 0px;
}

.header_info > p {
  margin: 5px 0px;
}

.header_menu {
  grid-column: 6/9;
  justify-self: end;
}

.header_exp {
  display: grid;
  grid-column: 1/9;
}

.header_avatar {
  grid-column: 2/5;
}

.header_info {
  grid-column: 5/9;
}

.red-label {
  display: inline;
  background-color: #eaeeff;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.edu-box {
  display: flex;
  flex-direction: row;
}

.attending-event {
  display: inline;
}

.attending-item {
  padding-bottom: 10px;
}

.ispast {
  color: #3030307d;
}

.ispast a {
  color: #3030307d;
}

.ispast > .attending-date {
  background-color: #d2d2d240;
}

.all {
  float: right;
  background-color: #e1a0a040;
  font-weight: normal;
  padding: 0px 10px;
  border-radius: 6px;
}

.hide {
  display: none;
}

.publication {
  display: grid;
}

.header_title {
  grid-column: 4/9;
}

.about {
  background: #ffffff;
}

.deco {
  max-width: 60px;
  margin-bottom: 10px;
}

.attendinglist {
  padding-top: 10px;
}

.paper-link {
  padding: 5px 0px;
  margin-top: 5px;
}
.paper-box-link {
  margin-left: 4px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  background-color: #eaeaee;
}
.pdf-link {
  content: "\f1c1";
  margin-left: 4px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  background-color: #eaeaee;
}

.pdf-link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f1c1";
  margin-left: 4px;
  background-color: #eaeaee;
}

.paper-venue {
  font-weight: 400;
}

.category-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #cacaca;
  padding: 20px 0px;
  font-size: 15px;
}

.paper-figure > img {
  width: 100%;
}

.paper-figure > .video {
  width: 100%;
}

.video > iframe {
  width: 100%;
  height: auto;
}

.paper-left {
  grid-column: 1/3;
}

.paper-right {
  grid-column: 3/9;
}

.paper-right > div {
  padding: 0px 0px 5px 0px;
}

.paper-link > a {
  background-color: #d2d2d240;
  margin-right: 5px;
  padding: 5px 8px;
  border-radius: 5px;
}

.RoundedButton {
  width: 300px;
  height: 300px;
  display: block;
  outline: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
}

.ButtonGroup {
  position: absolute;
  top: 20px;
  left: 50px;
}

#button-venn {
  position: absolute;
  top: 0px;
  left: 0px;
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.label1 {
  position: absolute;
  top: 70px;
  left: 160px;
  color: #f48b7b;
}

.label2 {
  position: absolute;
  top: 213px;
  left: 70px;
  transform: rotate(60deg);
  color: #eac983;
}

.label3 {
  position: absolute;
  top: 220px;
  left: 260px;
  transform: rotate(-60deg);
  color: #aacfda;
}

.venn-pub-list {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  position: absolute;
}

.cp {
  top: 30px;
  left: px;
}

.ce {
  top: 60px;
  left: 420px;
}

.pe {
  top: 280px;
  left: 250px;
}

.venn-pub-list > ul > li {
  text-decoration: none;
  text-align: right;
}

.venn-pub-list > ul {
  list-style: none;
  width: 220px;
}

.venn-pub-list > ul > li > a {
  color: #424242;
}

.Venn {
  position: absolute;
  left: 200px;
}

.VennDiagram {
  position: relative;
}

.venn-container {
  height: 320px;
  width: 800px;
}

.edu {
  padding: 2px 0px;
}

.footer {
  color: #7c7c7c;
  border-top: solid 1px #eaeaee;
}

.footnote > p {
  display: inline;
  padding: 10px;
}

img[alt="zurich"] {
  width: 100%;
}

html {
  height: 100%;
  font-weight: 300;
}

body {
  color: #424242;
  line-height: 25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 15px;
  font-weight: 200;
}

main {
  border-top: solid;
  border-top-color: #eaeaee;
  border-top-width: 1px;
}

#app {
  height: 100%;
  padding: 10px;
}

strong {
  font-weight: 600;
  color: #7c7c7c;
}

section {
  margin: 0;
  padding: 2rem 0rem;
}

a {
  text-decoration: none;
  color: #3f446a;
  font-weight: 400;
}

a:hover {
  color: #3f446a;
}

a:visited {
  text-decoration: none;
}

.p0-content {
  margin: auto;
  padding-top: 15%;
  text-align: center;
  cursor: default;
}

li {
  text-decoration: none;
}

#subtitle {
  font-size: 20px;
  margin: auto;
  color: #a7a7a7;
}

#enter {
  cursor: pointer;
  font-size: 20px;
  border-bottom: 2px solid black;
  width: 5%;
  margin: auto;
  margin-top: 50px;
  transition: width 0.5s ease;
}

#enter:hover {
  width: 6%;
}

#big {
  text-align: center;
  font-family: passion-one, sans-serif;
  font-size: 80px;
  color: #7c7c7c;
  margin: 10px;
  padding-top: 20%;
}

#small {
  text-align: center;
  font-family: lato, sans-serif;
  font-size: 12px;
  margin: 0;
  padding-top: 5px;
  grid-column: 1/9;
}

p {
  cursor: default;
  margin: 0px;
}

.hide {
  display: none;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #7c7c7c;
  margin-bottom: 0px;
}

.text {
  padding: 10px 0px;
}

.research-wrapper {
  display: flex;
  align-items: start; /* Align the content to the top */
}

.venn-wrapper {
  width: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  flex: 1; /* Make the text part take the rest of the space */
  padding-left: 20px; /* Optional: Add some spacing between the image and the text */
}

.text-wrapper-see {
}

.text-wrapper-unsee {
  display: none;
}

.my-venn {
  display: flex;
  background-color: #ffffff;
  width: 510px;
  height: 285px;
}

.overlap {
  position: relative;
  width: 500px;
  height: 285px;
}

.overlap-group {
  position: absolute;
  width: 510px;
  height: 285px;
}

.ellipse {
  position: absolute;
  width: 173px;
  height: 173px;
  top: 0;
  left: 183px;
}

.img {
  position: absolute;
  width: 171px;
  height: 171px;
  top: 85px;
  left: 233px;
}

.ellipse-2 {
  position: absolute;
  width: 171px;
  height: 171px;
  top: 85px;
  left: 134px;
}

.AI {
  position: absolute;
  width: 19px;
  height: 15px;
  top: 177px;
  left: 323px;
}

.device {
  position: absolute;
  width: 65px;
  height: 16px;
  top: 177px;
  left: 173px;
}

.human {
  position: absolute;
  width: 67px;
  height: 15px;
  top: 58px;
  left: 235px;
}

.arrow {
  position: absolute;
  width: 57px;
  height: 75px;
  top: 47px;
  left: 153px;
}

.arrow-2 {
  position: absolute;
  width: 70px;
  height: 79px;
  top: 206px;
  left: 264px;
}

.arrow-3 {
  position: absolute;
  width: 64px;
  height: 69px;
  top: 53px;
  left: 321px;
}

.line {
  width: 154px;
  top: 48px;
  left: 0;
  position: absolute;
  height: 2px;
}

.line-2 {
  width: 126px;
  top: 54px;
  left: 384px;
  position: absolute;
  height: 2px;
}

.line-3 {
  width: 126px;
  top: 284px;
  left: 337px;
  position: absolute;
  height: 2px;
}

.interaction-proxy {
  position: absolute;
  width: 156px;
  height: 24px;
  top: 21px;
  left: 0;
}

.OOVVCI {
  position: absolute;
  width: 115px;
  height: 11px;
  top: 269px;
  left: 343px;
}

.simulatar {
  position: absolute;
  width: 104px;
  height: 11px;
  top: 39px;
  left: 387px;
}

@media screen and (max-width: 600px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    grid-column: 1 / 9;
  }

  .venn-container {
    display: none;
  }

  .paper-left {
    display: none;
  }

  .paper-right {
    grid-column: 1 / 9;
  }

  .cv-title {
    font-size: 2rem;
  }

  .venn-wrapper {
    display: none;
  }
  .text-wrapper-see {
    display: none;
  }
  .text-wrapper-unsee {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .text-wrapper-see {
    display: none;
  }
  .text-wrapper-unsee {
    display: block;
  }
}

.CV-title {
  font-family: "Times New Roman", Times, serif;
  color: #cc002e;
  font-size: 32pt;
}
.CV-subtitle {
  font-family: "Times New Roman", Times, serif;
  color: #95162a;
  font-size: 16pt;
}
.CV-info {
  display: flex;
  flex-direction: column;
}
.CV-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.CV-info-right > p {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 12pt;
  line-height: 1.2;
}
.CV-info > p {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 12pt;
  line-height: 1;
}
.CV-distribute {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.CV-columns {
  display: flex;
  flex-direction: row;
}

.CV-left-column {
  flex: 0 0 20%; /* 固定宽度为20% */
  margin-right: 2%;
}

.CV-right-column {
  flex: 0 0 80%; /* 固定宽度为80% */
  margin-left: 2%;
  margin-right: 10%;
}

.research-columns {
  display: flex;
  flex-direction: row;
}

.research-column-1 {
  flex: 0 0 28%; /* 固定宽度为20% */
  margin-left: 4%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.research-column-2 {
  flex: 0 0 28%; /* 固定宽度为20% */
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.research-column-3 {
  flex: 0 0 28%; /* 固定宽度为20% */
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.research-badge {
  // 圆角徽章，红底白字
  background-color: #cc002e;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  width: 100pt;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15pt;
}
