.highlight-red {
  background-color: #ffcccb;
}

.highlight-yellow {
  background-color: #ffffcc;
}

.highlight-green {
  background-color: #90ee90;
}

.highlight-blue {
  background-color: #add8e6; /* 浅蓝色 */
} 